<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <a [routerLink]="['/tabs/tab3']" class="linkBack">
        <h4><ion-icon name="arrow-back-outline"></ion-icon> Editar correo</h4></a>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Editar correo</ion-title>
    </ion-toolbar>
  </ion-header>
  <hr>
  <ion-input
  type="email"
  fill="solid"
  label="Correo electrónico"
  labelPlacement="floating"
  helperText="Máximo 80 carácteres."
  errorText="Máximo superado"
  maxlength="80"
  [counter]="true"
></ion-input>
<br>
<div class="ion-text-center">
  <ion-button shape="round" color="warning" [routerLink]="['/tabs/tab3']">Confirmar</ion-button>
  <ion-button shape="round" color="danger" [routerLink]="['/tabs/tab3']">Cancelar</ion-button>
</div>


</ion-content>
