<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro exitoso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 style="color: yellow; text-align: center;">¡Felicidades! Te has registrado exitosamente en la aplicación Te Llevo App! Disfruta tu estadia.</h1>

  <div class="icon-container">
    <ion-icon name="checkmark-done-outline" class="icon"></ion-icon>
  </div>
  <div class="ion-text-center">
    <ion-button shape="round" color="warning" [routerLink]="['../../tabs/tab1']">Aceptar</ion-button>
  </div>
  
</ion-content>
