ion-content {
    
  /* Colores */
  --text-color: #011341;
  --gray-color: #828282;
  --icon-color: #5D83EF;
  --background: linear-gradient(to bottom, #87CEEB, #ffffff);

  /* Typography */
  --body-font: 'Poppins';
}

.botonDetalles {
    font-size: 80%;
    margin:10px;
    padding: 10px;
    float: right;
  }

a {
  text-decoration: none;
  color: #FFB800;
}

.selected-card {
  border: 2px solid var(--ion-color-primary); 
}

ion-card {
  width: 80%;
  margin: 10px auto;
  background-color: rgba(90, 90, 90, 0.479);
}

ion-card-title {
  text-transform: uppercase;
}

ion-card-subtitle {
  text-transform: uppercase;
}

ion-card-content {
  text-transform: uppercase;
}