.detalleRuta {
  font-size: small;
}

ion-content ion-item div p {
  font-size: small;
}

ion-content ion-item ion-button {
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
}
