<!-- <ion-content [fullscreen]="true">
  <ion-list>
    <ion-list>
      <ion-input
        type="email"
        fill="solid"
        label="Correo electrónico"
        labelPlacement="floating"
        helperText="Máximo 80 carácteres."
        errorText="Máximo superado"
        maxlength="80"
        [counter]="true"
        [(ngModel)]="userData.email"
        [(ngModel)]="userData.username"
      ></ion-input>

      <ion-input
        type="text"
        fill="solid"
        label="Ingrese su nombre completo"
        labelPlacement="floating"
        errorText="Nombre no válido"
        helperText="Máximo 50 carácteres."
        maxlength="50"
        [counter]="true"
        [(ngModel)]="userData.first_name"
      ></ion-input>

      <ion-input
        type="number"
        fill="solid"
        label="Ingrese su número"
        labelPlacement="floating"
        errorText="Número no válido"
        [(ngModel)]="userData.telefono"
      ></ion-input>

      <ion-input
        type="password"
        fill="solid"
        label="Contraseña"
        labelPlacement="floating"
        errorText="Las contraseñas no coinciden"
      ></ion-input>

      <ion-input
        type="password"
        fill="solid"
        label="Confirme su contraseña"
        labelPlacement="floating"
        errorText="Las contraseñas no coinciden"
        [(ngModel)]="userData.password"
      ></ion-input>
    </ion-list>
  </ion-list>
  <hr />
  <div class="ion-text-center">
    <ion-button shape="round" color="warning" (click)="createUser()"
      >Registrarse</ion-button
    >
    <ion-button shape="round" color="danger" [routerLink]="['/login']"
      >Cancelar</ion-button
    >
  </div>
</ion-content> -->
<ion-content>
  <div class="login_content">
    <div >
      <h1 class="ion-text-center">
        <img
          src="../../assets/core/img/logoApp.png"
          style="height: 150px; width: 150px"
        />
      </h1>
      <h3
        style="
          color: rgb(0, 0, 107);
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial,
            sans-serif;
        "
      >
        REGISTRATE
      </h3>

        <ion-input
          type="email"
          label="Correo electrónico"
          labelPlacement="floating"
          helperText="Máximo 80 carácteres."
          errorText="Máximo superado"
          maxlength="80"
          [counter]="true"
          [(ngModel)]="userData.email"
          [(ngModel)]="userData.username"
        ></ion-input>
        <hr>

        <ion-input
          type="text"
          label="Ingrese su nombre completo"
          labelPlacement="floating"
          errorText="Nombre no válido"
          helperText="Máximo 50 carácteres."
          maxlength="50"
          [counter]="true"
          [(ngModel)]="userData.first_name"
        ></ion-input>
        <hr>

        <ion-input
          type="number"
          label="Ingrese su número"
          labelPlacement="floating"
          errorText="Número no válido"
          [(ngModel)]="userData.telefono"
        ></ion-input>
        <hr>

        <ion-input
          type="password"
          label="Contraseña"
          labelPlacement="floating"
          errorText="Las contraseñas no coinciden"
        ></ion-input>
        <hr>

        <ion-input
          type="password"
          label="Confirme su contraseña"
          labelPlacement="floating"
          errorText="Las contraseñas no coinciden"
          [(ngModel)]="userData.password"
        ></ion-input>
      </div>
      <ion-button (click)="createUser()" expand="block" color="primary">REGISTRARSE</ion-button>

      <ion-button [routerLink]="['/login']" expand="block" color="warning">CANCELAR</ion-button>
    </div>
</ion-content>
<ion-footer>
  <ion-toolbar class="footer">
    <p class="ion-text-center">Nicolás Muñoz || Néstor Carvacho</p>
  </ion-toolbar>
</ion-footer>
