<ion-content>
  
  <div>
    <form class="formularioLogin" #loginForm (ngSubmit)="realizarLogin()">
      <ion-img src="../../assets/core/img/logoApp.png" style="height: 200px;"></ion-img>
      <br>
      <br>
      <br>
      <div>
        <ion-input name="username" class="login-form" id="username" [(ngModel)]="username" type="email" labelPlacement="stacked" fill="solid" placeholder="Correo@duocuc.cl" required=""></ion-input>
      </div>
      <br>
      <div>
        <ion-input name="password" id="password" [(ngModel)]="password" label="Contraseña" type="password" labelPlacement="stacked" fill="solid" required=""></ion-input>
      </div>
      <br>
      <!-- type="submit" [disabled]="!loginForm['valid']" -->
      <ion-button type="submit">Iniciar Sesión</ion-button>
      <div style="margin-top: 20px;">
        No tienes cuenta?
        <a class="NoPoseeCuentaClick" style="color: #D50032; font-family: lato-bold;" (click)="handleClick()" [routerLink]="['']">Click Acá</a>
      </div>
    </form>
  </div>
</ion-content>
