a {
  text-decoration: none;
}

.solicita-viaje {
  margin-top: 10px;
}
@import url("https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css");

.container {
  height: 100vh !important;
}

#mapbox {
  height: 100% !important;
  width: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
}

//boton manejar que sea como una burbuja
.floating-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  //background-color: #3498db; /* Color de fondo de la burbuja */
  color: #ffffff; /* Color del texto en la burbuja */
  border-radius: 50%; /* Para hacer la burbuja redonda */
  padding: 10px; /* Ajusta según sea necesario */
  //box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra para dar una sensación de elevación */
  z-index: 999; /* Asegúrate de que esté por encima de otros elementos en la página */
  cursor: pointer;
}

.floating-button a {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.floating-button ion-icon {
  margin-bottom: 5px;
}

ion-header {
  //--ion-background-opacity: 50;
  padding: 0;
  background-color: rgba(218, 218, 218, 0.575);
  color: #000;
}

.toolbar-container {
  display: none !important;
}

#barraBuscar {
  //--ion-background-opacity: 50;
  padding: 0;
  background-color: rgba(225, 243, 174, 0.536);
  color: #000;
  border: none; /* Elimina el borde */
  //border-bottom: 1px solid transparent; /* Elimina la línea inferior */
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-container {
  flex: 8;
}

.button-container {
  flex: 2;
  //background-color: transparent; /* Fondo transparente para el contenedor del botón */
}

#modal-viajes {
  //background-color: #3498db; /* Color de fondo del botón */
  //color: #ffffff; /* Color del texto en el botón */
  border-radius: 50%; /* Para hacer el botón redondo */
  padding: 10px; /* Ajusta según sea necesario */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.28); /* Sombra para dar una sensación de elevación */
  z-index: 999; /* Asegúrate de que esté por encima de otros elementos en la página */
  cursor: pointer;
}

#modal-viajes ion-icon {
  margin-bottom: 5px;
}

#tomar-viaje-btn {
  position: fixed; /* Hace que el botón sea flotante */
  top: 90%; /* Centra el botón verticalmente */
  left: 50%; /* Centra el botón horizontalmente */
  transform: translate(-50%, -50%); /* Ajusta la posición del botón para que esté perfectamente centrado */
  z-index: 999; /* Asegura que el botón esté por encima de otros elementos */
  width: 80%; /* Ajusta este valor para cambiar el ancho del botón */
  max-width: 600px; /* Ajusta este valor para establecer el ancho máximo del botón */
}

