<ion-header>
  <div class="row form-container">
    <div class="col-8 search-container">
        <div id="controles">
          <ion-searchbar
            [(ngModel)]="direccion"
            placeholder="Buscar dirección"
            mode="ios"
            color="#0000"
          ></ion-searchbar>
        </div>
    </div>
    <div class="col-4 button-container">
      <ion-button (click)="buscar()" id="modal-viajes"
        ><svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-search"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"
          /></svg
        ></ion-button
      >

      <!-- inicio del modal nestor culiao no lo borres -->
      <ion-modal #modal trigger="modal-viajes" class="modalViajes">
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-title>Buscando Viaje</ion-title>
              <ion-buttons slot="end">
                <ion-button (click)="modal.dismiss()">Cerrar</ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-header>
          <ion-content>
            <ion-list>
              <ion-item *ngFor="let ruta of rutas; let i = index">
                <a type="btn" (click)="ir(i)" (click)="modal.dismiss()"
                  >{{ ruta }}</a
                >
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-modal>

      <!-- fin del modal culiao nestor no lo borres -->
    </div>
  </div>
</ion-header>

<ion-content [fullscreen]="true" scrollY="true">
  <div class="container">
    <div id="mapbox"></div>
  </div>
  <div *ngIf="rutas.length > 0" class="tomar-viaje-container">
    <ion-button (click)="tomarViaje()" id="tomar-viaje-btn">
      Tomar viaje
    </ion-button>
  </div>
</ion-content>
