<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Nuevo Viaje
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="true">
    <ion-item class="googleIFrame" once="menu" id="menu1-0" data-sortbtn="btn-primary">

        <ion-img src="../../assets/core/img/programacion-2-e1551291144973.jpg"></ion-img>
    </ion-item>
    <ion-item>
        <ion-input label="Destino" label-placement="floating" fill="outline" placeholder="Ingrese destino"></ion-input>
    </ion-item>
    <ion-item>
        <ion-input label="Destino" label-placement="floating" fill="outline" placeholder="Ingrese destino"></ion-input>
    </ion-item>

</ion-content>
