<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Información de la cuenta
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <section>
        <ion-item>
            <ion-avatar slot="start" class="foto-avatar">
                <ion-fab>
                <ion-fab-button (click)="selectFile()">
                        <ion-icon name="add"></ion-icon>
                </ion-fab-button>
                </ion-fab>
                <img alt="Silhouette of a person's head" [src]="imagenPerfil"/>
            </ion-avatar>
            <input type="file" #fileInput style="display:none" (change)="cargarNuevaImagen($event)">
        </ion-item>
        <ion-item>
            <ion-list-header class="informacion-basica">
                <ion-label>Información básica</ion-label>
            </ion-list-header>
        </ion-item>
        <ion-item detail="true">
            <ion-label>
                <h3>Nombre</h3>
                <p>Alan gajardo</p>
            </ion-label>
        </ion-item>
        <ion-item detail="true">
            <ion-label>
                <h3>Número de teléfono</h3>
                <p>+56945662539</p>
            </ion-label>
        </ion-item>
        <ion-item detail="true">
            <ion-label>
                <h3>Correo electrónico</h3>
                <p>alan.gajardo@profesor.duoc.cl</p>
            </ion-label>
        </ion-item>
        <ion-item detail="true">
            <ion-label>
                <h3>Viajes realizados</h3>
                <p>Has realizado 125 viajes en total.</p>
            </ion-label>
        </ion-item>
    </section>
</ion-content>
