<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-item>
            <a [routerLink]="['/tabs/tab4']" class="linkBack">
              <h4><ion-icon name="arrow-back-outline"></ion-icon> Información de la cuenta</h4></a>
          </ion-item>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <section>
        <ion-item>
            <ion-avatar slot="start" class="foto-avatar">
                <ion-fab>
                <ion-fab-button (click)="selectFile()">
                        <ion-icon name="add"></ion-icon>
                </ion-fab-button>
                </ion-fab>
                <img alt="Silhouette of a person's head" [src]="getImagenPerfil()"/>
            </ion-avatar>
            <input type="file" #fileInput style="display:none" (change)="cargarNuevaImagen($event)">
        </ion-item>
        <ion-item>
            <ion-list-header class="informacion-basica">
                <ion-label>Información básica</ion-label>
            </ion-list-header>
        </ion-item>
        <ion-item detail="true">
            <ion-label [routerLink]="['/tabs/tab3/editar-nombre']"> 
                <h3>Nombre</h3>
                <p>{{ nombre }}</p>
            </ion-label>
        </ion-item>
        <ion-item detail="true">
            <ion-label [routerLink]="['/tabs/tab3/editar-numero']" >
                <h3>Número de teléfono</h3>
                <p>{{ telefono }}</p>
            </ion-label>
        </ion-item>
        <ion-item detail="true" [routerLink]="['/tabs/tab3/editar-correo']">
            <ion-label>
                <h3>Correo electrónico</h3>
                <p>{{ correo }}</p>
            </ion-label>
        </ion-item>
        <ion-item detail="true" [routerLink]="['/tabs/tab2']">
            <ion-label>
                <h3>Viajes realizados</h3>
                <p>Has realizado 125 viajes en total.</p>
            </ion-label>
        </ion-item>
    </section>
</ion-content>
