<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-title>En viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="row">
      <div class="col col-12">
          <ion-item>
              <iframe src="https://www.google.com/maps/embed?pb=!1m28!1m12!1m3!1d6646.093617074545!2d-70.58305826906071!3d-33.6040899392504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m13!3e6!4m5!1s0x9662d7ab19fd46f1%3A0xcdb4086bb9712c9a!2sPlaza%20de%20Puente%20Alto%2C%208211270%20Puente%20Alto%2C%20Regi%C3%B3n%20Metropolitana!3m2!1d-33.60955!2d-70.57591!4m5!1s0x9662d7037854df81%3A0x893f58a1479b8f82!2sDuoc%20UC%3A%20Sede%20Puente%20Alto%20-%20Avenida%20Concha%20Y%20Toro%2C%20Av.%20San%20Carlos%201340%2C%20Puente%20Alto%2C%20Regi%C3%B3n%20Metropolitana!3m2!1d-33.5985866!2d-70.579071!5e0!3m2!1ses!2scl!4v1694573187421!5m2!1ses!2scl" style="border:0;"></iframe>
          </ion-item>
      </div>
      <ion-item>
        <p>
            <ion-icon name="wallet"></ion-icon>
            Tarifa por persona $1.000
          </p>
        </ion-item>
      <div class="col col-12">

          <ion-button class="boton-fin-viaje" expand="block" margin="auto" [routerLink]="['/tabs/tab1/finalizar-viaje']">
              finalizar viaje
          </ion-button>

      </div>
  </div>
</ion-content>
