<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Nuevo Viaje
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" scrollY="true">
    <ion-item>
        <div class="row panel-seleccion">
            <div class="col col-6 selector">
                <a [routerLink]="['/tabs/tab1']">
                    <ion-icon name="speedometer-outline"></ion-icon>
                    Soy Pasajero</a>
            </div>
            <div class="col col-6">
                <a [routerLink]="['/tabs/tab1/en-viaje']" class="btn btn-primary botonDetalles">publicar Viaje</a>
            </div>
        </div>
    </ion-item>
    <ion-item class="googleIFrame" once="menu" id="menu1-0" data-sortbtn="btn-primary">
        <ion-img src="../../assets/core/img/programacion-2-e1551291144973.jpg"></ion-img>
    </ion-item>
    <ion-item>
        <div class="row">
            <div class="col col-12">
                <h3>Publicar Viaje Disponible</h3>
            </div>
            <div class="col col-12">
                <ion-searchbar id="modalBuscarDestinoConductor" placeholder="Ingrese Destino"></ion-searchbar>

                <ion-modal #modalDestino trigger="modalBuscarDestinoConductor" [presentingElement]="presentingElement">
                    <ng-template>
                        <ion-header>
                            <ion-toolbar>
                                <ion-title>Buscando Viaje</ion-title>
                                <ion-buttons slot="end">
                                    <ion-button (click)="modalDestino.dismiss()">Cerrar</ion-button>
                                </ion-buttons>
                            </ion-toolbar>
                        </ion-header>
                        <ion-content>
                            <ion-list>
                                <ion-item>
                                    <ion-searchbar placeholder="Buscar"></ion-searchbar>
                                </ion-item>
                                <ion-item class="destinoConductor">
                                    <div class="row ">
                                        <div class="col col-8">
                                            <h5>Plaza Puente Alto</h5>
                                        </div>
                                        <div class="col col-4" style="margin: auto;">
                                            <ion-button [routerLink]="['/tabs/tab1/en-viaje']" (click)="modalDestino.dismiss()">Aceptar</ion-button>
                                        </div>
                                        <div class="col col-8">
                                            <p>
                                                <strong>Comuna:
                                                </strong>
                                                Puente Alto</p>
                                        </div>
                                    </div>
                                </ion-item>
                            </ion-list>
                        </ion-content>
                    </ng-template>
                </ion-modal>
            </div>
        </div>
    </ion-item>
</ion-content>
