<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item>
      <a [routerLink]="['/tabs/tab2']" class="linkBack">
        <h4><ion-icon name="arrow-back-outline"></ion-icon> Volver</h4>
      </a>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="viaje">
    <p>Detalle de viaje: {{ viaje.id }}</p>
  </ion-item>
  <ion-item *ngIf="viaje">
    <p>11:43 PM {{ viaje.fecha }} con {{ viaje.conductor.nombre_completo }}</p>
  </ion-item>
  <ion-item *ngIf="viaje">
    <!-- Ajusta el src según la propiedad en tu objeto viaje que contenga la URL -->
    <div class="container">
    <div 
      id="mapbox"
      width="600"
      height="200"
      style="border: 0"
    ></div>
  </div>
  </ion-item>

  <ion-item *ngIf="viaje">
    <div>
      <h3>Detalles del viaje</h3>
      <p>
        <ion-icon name="person-circle"></ion-icon>
        {{ viaje.conductor.nombre_completo }}
      </p>
      <p>
        <ion-icon name="navigate-circle"></ion-icon>
        {{ viaje.distancia }} Kilometros
      </p>
      <p>
        <ion-icon name="cash"></ion-icon>
        {{ viaje.metodo_pago }}
      </p>
      <p>
        <ion-icon name="wallet"></ion-icon>
        {{ viaje.tarifa }}
      </p>
    </div>
  </ion-item>
  <ion-item *ngIf="!viaje">
    <ion-label>No hay detalles de viaje disponibles.</ion-label>
  </ion-item>
</ion-content>