a {
  text-decoration: none;
}

.solicita-viaje {
  margin-top: 10px;
}

@import url("https://api.mapbox.com/mapbox-gl-js/v2.8.1/mapbox-gl.css");

.container {
  height: 50vh !important;
}

#mapbox {
  height: 100% !important;
  width: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
}

ion-header {
  //--ion-background-opacity: 50;
  padding: 0;
  background-color: rgba(218, 218, 218, 0.575);
  color: #000;
}

.toolbar-container {
  display: none !important;
}

.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



